.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

    #header ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align:center;
    }
  
    #header li {
      display: inline;
      border: 1px solid;
      border-bottom-width: 0;
      margin: 0 0.5em 0 0;
    }
  
    #header li a {
      padding: 0 1em;
    }
  
    #header #selected {
      padding-bottom: 1px;
      background: white;
    }
  
    #content {
      border: 1px solid;
    }
